{% macro image(game, player, playerid, player2 = '', view = '') %}
<div class="col s3">
	<h4 style="font-size: 2rem;">{{ player['name']}}</h4>
	<img class="responsive-img border" src={{ player['img']}}>
	{% if game == 'dota' %}
	<h6>
	<a class="amber-text text-accent-3" href=https://www.dota2.com/store/#h={{ playerid }}&cat=3634838168>
		Use this link to buy a set for your friend.
	</a>
	</h6>
	{% endif %}
</div>
<div class="col s3">
<h5 style="margin-top: 5rem; font-size: 1.2rem">Solo winrate<br><span class="amber-text text-accent-3">50.0%</span></h5>
{% if player2 != '' %}
{% if view == 'friend' %}
<h5 style="margin-top: 4rem; font-size: 1.2rem">{{ player['name']}}'s winrate with {{ player2['name'] }}<br><span class="amber-text text-accent-3">50.0%</span></h5>
{% elif view == 'foe' %}
<h5 style="margin-top: 2rem; font-size: 1.2rem">{{ player['name']}}'s winrate vs {{ player2['name'] }}<br><span class="amber-text text-accent-3">50.0%</span></h5>
{% endif %}
{% endif %}
</div>
{% endmacro %}