{% extends "base_template.html" %}

{% block body %}

<div class="container main grey darken-4 z-depth-5">
	<div class="row">
	<div class="col s12 m9 l10 offset-m2 offset-l1">
	<h4 class="header">Who made this?</h4>
	<div class="section">
		<p><span style="font-size: 1.5rem"><a href="mailto:trench.guru+dave@gmail.com">David Jones</a></span> is a data scientist finishing up the <a href="http://signaldatascience.com">Signal Data Science</a> intensive. He started learning programming by running Monte Carlo simulations of polymers at Case Western Reserve University. He then spent a few years handling spectroscopy data as part of his Master’s degree in materials science at Pennsylvania State University. This website is one of his final projects for the curriculum at Signal. David has most of his experience in Python with R as a secondary language. This project was primarily coded using the Python modules pandas and sklearn, R modules dplyr and psych, and various graphing modules in both languages like matplotlib and corrplot for two examples. When he’s not working, David loves to dance! He’s been teaching Lindy Hop, Blues and Fusion dance styles and being a DJ/MC at dance events over the past eight years.</p>

		<p><span style="font-size: 1.5rem"><a href="mailto:trench.guru+dave@gmail.com">Olivia Schaefer</a></span> is working as the web developer on this project. She recently completed the <a href="http://signaldatascience.com">Signal Data Science</a> course - her final project was creating the <a href="https://github.com/taygetea/vec2pca">Vec2PCA</a> natural-language processing algorithm and building a <a href="http://taygetea.com">web interface</a> for it. It was used to examine the comments on the blog <a href="https://slatestarcodex.com">Slate Star Codex</a> to find that, among other things, the opposite of evil is actually math!</p>
	</div>
	</div>
	</div>
</div>
{% endblock %}
