{% extends "base_template.html" %}

{% block body %}

<div class="container main grey darken-4 z-depth-5">
	<div class="section">
		
		<h5><a href="mailto:david.h.jones37@gmail.com">David Jones</a> is a Data Scientist finishing up at <a href="http://signaldatascience.com">Signal</a> and looking for work in the field. This website is one of the final projects as part of the curriculum. </h5>

		<h5><a href="mailto:taygetea@gmail.com">Olivia Schaefer</a> is working as a web developer on this project, but also recently completed the Signal course. Her final project was creating the <a href="http://taygetea.com">Vec2PCA</a> natural-language processing algorithm and building a web interface for it.</h5>	

	</div>
	

</div>
{% endblock %}
