	<div class="heroColLeft">
		<div id="columnHeader"><span id="columnHeaderTextStr">Strength</span></div>
		<div class="heroIcons">
Earthshaker
Sven
Tiny
Kunkka
Beastmaster
Dragon_Knight
Clockwerk
Omniknight
Huskar
Alchemist
Brewmaster
Treant_Protector
Io
Centaur_Warrunner
Timbersaw
Bristleback
Tusk
Elder_Titan
Legion_Commander
Earth_Spirit
Phoenix
		</div>
		<br clear="left" />
	</div>
	<div class="heroColMiddle">
		<div id="columnHeader"><span id="columnHeaderTextAgi">Agility</span></div>
		<div class="heroIcons">
Anti-Mage
Drow_Ranger
Juggernaut
Mirana
Morphling
Phantom_Lancer
Vengeful_Spirit
Riki
Sniper
Templar_Assassin
Luna
Bounty_Hunter
Ursa
Gyrocopter
Lone_Druid
Naga_Siren
Troll_Warlord
Ember_Spirit
		</div>
		<br clear="left" />
	</div>
	<div class="heroColRight">
		<div id="columnHeader"><span id="columnHeaderTextInt">Intelligence</span></div>
		<div class="heroIcons">
Crystal_Maiden
Puck
Storm_Spirit
Windranger
Zeus
Lina
Shadow_Shaman
Tinker
Natures_Prophet
Enchantress
Jakiro
Chen
Silencer
Ogre_Magi
Rubick
Disruptor
Keeper_of_the_Light
Skywrath_Mage
Oracle
Techies
		</div>
		<br clear="left" />
	</div>


	
	<div class="heroColLeft" style="clear:left">
		<div class="heroIcons">
Axe
Pudge
Sand_King
Slardar
Tidehunter
Wraith_King
Lifestealer
Night_Stalker
Doom
Spirit_Breaker
Lycan
Chaos_Knight
Undying
Magnus
Abaddon
		</div>
		<br clear="left" />
	</div>
	<div class="heroColMiddle">
		<div class="heroIcons">
Bloodseeker
Shadow_Fiend
Razor
Venomancer
Faceless_Void
Phantom_Assassin
Viper
Clinkz
Broodmother
Weaver
Spectre
Meepo
Nyx_Assassin
Slark
Medusa
Terrorblade
Arc_Warden
		</div>
		<br clear="left" />
	</div>
	<div class="heroColRight">
		<div class="heroIcons">
Bane
Lich
Lion
Witch_Doctor
Enigma
Necrophos
Warlock
Queen_of_Pain
Death_Prophet
Pugna
Dazzle
Leshrac
Dark_Seer
Batrider
Ancient_Apparition
Invoker
Outworld_Devourer
Shadow_Demon
Visage
Winter_Wyvern
		</div>
		<br clear="left" />
	</div>
	<br clear="left" />
</div>
