{% extends "base_template.html" %}
{% block headextra %}

	{% if view == "foe" %}
	<style>
		
		body {
			background: linear-gradient(-90deg, #59443B, #263238 10%, #263238 90%, #283C34 ); 
		}
	</style>
	{% endif %}
	{% if view == "friend" %}
	<style>
		body {
			background: linear-gradient(-90deg, #283C34, #263238 10%, #263238 90%, #283C34 ); 
		}
	</style>
	{% endif %}
</style>
{% endblock %}
{% block body %}


<div class="container main grey darken-4 z-depth-5">
	<div class="row">
	{% for col in thumbargs %}
		<div class="col s4">
		{% set rowloop = loop %}
		<div class="section"><h5>{{ colnames[loop.index0] }}</h5></div>
		{% for group in col %}
			<div class="section grid">
			{% if group.index0 == 0 %}
			<h5>{{ colnames[rowloop.index0] }}</h5>
			{% endif %}
			{% for hero in group %}
				<a class="z-depth-1 tooltipped" href=/dota/{{ hero['id'] }} data-position="top" data-delay="5", data-tooltip="{{ hero['name'] }}">
					<img src={{ hero['img'] }}>
				</a>
			{% endfor %}
			</div>
		{% endfor %}
		</div>
	{% endfor %}
	</div>

	
	<div class="row center-align">
		{% if view == "foe" %}
		<h5 style="margin-top: 0px;" id="header">Opponents</h5>
		{% endif %}
		{% if view == "friend" %}
		<h5 style="margin-top: 0px;" id="header">Teammates</h5>
		{% endif %}
		<p>Switch to viewing these two heroes as</p>
		<div class="switch">
	    	<label>
	    	<b>Teammates</b>
	    	<input type="checkbox" id="myswitch">
	    	<span class="lever" onClick='setTimeout(function(){window.location="{{ notview }}#header";}, 300);'></span>
	    	<b>Opponents</b>
	    	</label>
	    </div>
	</div>
	<div class="row">
		<div class="col s6">
			<h4 style="font-size: 2rem;">{{ pl1['name']}}</h4>
			<img class="responsive-img" src={{ pl1['img']}}>
			<h6>
			<a class="orange-text text-lighten-2" href=https://www.dota2.com/store/#h={{ id1 }}&cat=3634838168>
				Use this link to buy a set for your friend.
			</a>
			</h6>
		</div>
		<div class="col s6">
			<h4 style="font-size: 2rem;">{{ pl2['name']}}</h4>
			<img class="responsive-img" src={{ pl2['img']}}>
			<h6>
			<a class="orange-text text-lighten-2" href=https://www.dota2.com/store/#h={{ id1 }}&cat=3634838168>
				Use this link to buy a set for your friend.
			</a>
			</h6>
		</div>
	</div>
	<div class="row">
		<div id="main" class="col l3 m6">
			
			<div class="section left">
			<table>
				<thead>
					<tr><h5 style="margin-top: 0px; font-size: 1.3rem;">Best Solo Items</h5></tr>
				</thead>
				{% for item in items1 %}
				<tr>
				<td><img class="responsive-img" src={{ item['url'] }}></td>
				<td><h6>{{ item['name'] }}</h6><h6>WR: {{ item['wr'] }}%</h6></td>
				</tr>
				{% endfor %}
			</table>
			<table>
				<thead>
					<tr><h5 style="font-size: 1.3rem;">Best Solo Skill</h5></tr>
				</thead>
				<tr>
					<td><img class="responsive-img" src={{ skill1['url'] }}></td>
					<td><p>{{ skill1['name'] }}</p><p>WR: {{ skill1['wr'] }}%</p></td>
				</tr>
			</table>
			</div>
		</div>


		<div class="col l3 m6">
			<div class="section">
			
			<table>
				<thead>
					<tr><h5 style="margin-top: 0px; font-size: 1.3rem;">Best Paired Items</h5></tr>
				</thead>
				{% for item in other_items1 %}
				<tr>
				<td><img class="responsive-img" src={{ item['url'] }}></td>
				<td><h6>{{ item['name'] }}</h6><h6>WR: {{ item['wr'] }}%</h6></td>
				</tr>
				{% endfor %}
			</table>
			<table>
				<thead>
					<tr><h5 style="font-size: 1.3rem;">Best Paired Skill</h5></tr>
				</thead>
				<tr>
					<td><img class="responsive-img" src={{ other_skill1['url'] }}></td>
					<td><p>{{ other_skill1['name'] }}</p><p>WR: {{ other_skill1['wr'] }}%</p></td>
				</tr>
			</table>
			</div>
		</div>

		<div id="main" class="col l3 m6">
			<div class="section left">

			<table>
				<thead>
					<tr><h5 style="margin-top: 0px; font-size: 1.3rem;">Best Solo Items</h5></tr>
				</thead>
				{% for item in items2 %}
				<tr>
				<td><img class="responsive-img" src={{ item['url'] }}></td>
				<td><h6>{{ item['name'] }}</h6><h6>WR: {{ item['wr'] }}%</h6></td>
				</tr>
				{% endfor %}
			</table>
			<table>
				<thead>
					<tr><h5 style="font-size: 1.3rem;">Best Solo Skill</h5></tr>
				</thead>
				<tr>
					<td><img class="responsive-img" src={{ skill2['url'] }}></td>
					<td><p>{{ skill2['name'] }}</p><p>WR: {{ skill2['wr'] }}%</p></td>
				</tr>
			</table>
			</div>
		</div>

		<div class="col l3 m6">
			<div class="section">
			<table>
				<thead>
					<tr><h5 style="margin-top: 0px; font-size: 1.3rem;">Best Paired Items</h5></tr>
				</thead>
				{% for item in other_items2 %}
				<tr>
				<td><img class="responsive-img" src={{ item['url'] }}></td>
				<td><h6>{{ item['name'] }}</h6><h6>WR: {{ item['wr'] }}%</h6></td>
				</tr>
				{% endfor %}
			</table>
			<table>
				<thead>
					<tr><h5 style="font-size: 1.3rem;">Best Solo Skill</h5></tr>
				</thead>
				<tr>
					<td><img class="responsive-img" src={{ other_skill2['url'] }}></td>
					<td><p>{{ other_skill2['name'] }}</p><p>WR: {{ other_skill2['wr'] }}%</p></td>
				</tr>
			</table>
			</div>
		</div>




	</div>
</div>

{% if view == "foe" %}
<script>
$('#myswitch').prop('checked', true)
</script>
{% endif %}

{% endblock %}