{% extends "base_template.html" %}
{% block body %}

<div class="container main grey darken-4 z-depth-5">
	<div class="row">
		<div class="col s4">
			<div class="section">
				<h5 class="center-align">Strength</h5>
				{% for thumb in str1 %}
					<a class="z-depth-1 tooltipped" href="{{ request.path }}/{{ str1ids[loop.index0] }}/foe" data-position="top" data-delay="5", data-tooltip={{ str1names[loop.index0] }}>
    					<img src={{ thumb }}>
    				</a>
				{% endfor %}
			</div>
			<div class="section">
				{% for thumb in str2 %}
					<a class="z-depth-1 tooltipped" href="{{ request.path }}/{{ str2ids[loop.index0] }}/foe" data-position="top" data-delay="5", data-tooltip={{ str2names[loop.index0] }}>
    					<img src={{ thumb }}>
    				</a>
				{% endfor %}
			</div>
		</div>
		<div class="col s4">
			<div class="section">
				<h5 class="center-align">Agility</h5>
				{% for thumb in agi1 %}
					<a class="z-depth-1 tooltipped" href="{{ request.path }}/{{ agi1ids[loop.index0] }}/foe" data-position="top" data-delay="5", data-tooltip={{ agi1names[loop.index0] }}>
    					<img src={{ thumb }}>
    				</a>
				{% endfor %}
			</div>
			<div class="section">
				{% for thumb in agi2 %}
					<a class="z-depth-1 tooltipped" href="{{ request.path }}/{{ agi2ids[loop.index0] }}/foe" data-position="top" data-delay="5", data-tooltip={{ agi2names[loop.index0] }}>
    					<img src={{ thumb }}>
    				</a>
				{% endfor %}
			</div>
		</div>
		<div class="col s4">
			<div class="section">
				<h5 class="center-align">Intelligence</h5>
				{% for thumb in int1 %}
					<a class="z-depth-1 tooltipped" href="{{ request.path }}/{{ int1ids[loop.index0] }}/foe" data-position="top" data-delay="5", data-tooltip={{ int1names[loop.index0] }}>
    					<img src={{ thumb }}>
    				</a>
				{% endfor %}
			</div>
			<div class="section">
				{% for thumb in int2 %}
					<a class="z-depth-1 tooltipped" href="{{ request.path }}/{{ int2ids[loop.index0] }}/foe" data-position="top" data-delay="5", data-tooltip={{ int2names[loop.index0] }}>
    					<img src={{ thumb }}>
    				</a>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col l4 m12">
			<h3 style="margin-top: 0px;">Solo</h3>
		</div>
	</div>

	<div class="row">
		<div id="lefthero" class="col s3 m3">
			<div class="section">
				<h4 style="font-size: 2rem;">{{ pl1['name']}}</h4>
				<img class="responsive-img" src={{ pl1['img']}}>
				<h6>
					<a class="orange-text text-lighten-2" href=https://www.dota2.com/store/#h={{ id1 }}&cat=3634838168>
						Use this link to buy a set for your friend.
					</a>
				</h6>
			</div>
			<div class="section">
			<table>
				<thead>
					<tr>
						<h5 style="margin-top: 0px; font-size: 1.3rem;">Best Solo Items</h5>
					</tr>
				</thead>
				{% for item in items1 %}
				<tr>
				<td>
					<img class="responsive-img" src={{ item['url'] }}>
				</td>
				<td>
					<p>{{ item['name'] }}</p>
					<p>WR: {{ item['wr'] }}</p>
				</td>
				</tr>
				{% endfor %}
			</table>
			<table>
				<thead>
					<tr><h5 style="font-size: 1.3rem;">Best Solo Skill</h5></tr>
				</thead>
				<tr>
					<td><img class="responsive-img" src={{ skill1['url'] }}></td>
					<td><p>{{ skill1['name'] }}</p><p>WR: {{ skill1['wr'] }}</p></td>
				</tr>
			</table>
			</div>
		</div>
		<div class="card-panel orange darken-3 white-text z-depth-4 col s4 offset-s2">
		<h5>I'm a placeholder!</h5>
		Soon, all of {{ pl1['name']}}'s best friends (and worst frenemies) will be shown here.
		</div>
	</div>
</div>



{% endblock %}






