{% import 'lists.html' as lists with context %}
{% import 'herogrid.html' as herogrid with context %}
{% import 'bigimage.html' as bigimage with context %}
{% extends "base_template.html" %}
{% block headextra %}

	{% if view == "foe" %}
	<style>
		
		body {
			background: linear-gradient(-90deg, #59443B, #263238 10%, #263238 90%, #283C34 ); 
		}
	</style>
	{% endif %}
	{% if view == "friend" %}
	<style>
		body {
			background: linear-gradient(-90deg, #283C34, #263238 10%, #263238 90%, #283C34 ); 
		}
	</style>
	{% endif %}
</style>
{% endblock %}
{% block body %}


<div class="container main grey darken-4 z-depth-5">
	{{ herogrid.grid('pair') }}

	<a class="anchor" id="top"></a>

	<div class="row center-align">
		<h5 style="margin-top: 0px;" id="header">{{ 'Opponents' if view == "foe" else 'Teammates' }}</h5>
		<p style="font-size: 1.2rem">You are currently viewing these two heroes as</p>
		<div class="switch">
	    	<label style="font-size: 1.3rem;">
	    	<span style={{ 'font-weight:bold;' if view == "friend"}}>Teammates</span>
	    	<input type="checkbox" id="myswitch">
	    	<span class="lever" onClick='setTimeout(function(){window.location="{{ notview }}#top";}, 300);'></span>
	    	<span style={{ 'font-weight:bold;' if view == "foe"}}>Opponents</span>
	    	</label>
	    </div>
	</div>

	<div class="row" style="margin-bottom: 0px;">	
		{{ bigimage.image('dota', pl1, id1, player2=pl2, view=view)}}
		{{ bigimage.image('dota', pl2, id2, player2=pl1, view=view)}}
	</div>

	<div class="row">
		<div id="main" class="col l3 m6">
			{{ lists.input(items1, pl1, skill=skill1, type='solo') }}
		</div>

		<div class="col l3 m6">
			{{ lists.input(other_items1, pl1, skill=other_skill1, type=view, player2=pl2) }}
		</div>

		<div id="main" class="col l3 m6">
			{{ lists.input(items2, pl2, skill=skill2, type='solo') }}
		</div>

		<div class="col l3 m6">
			{{ lists.input(other_items2, pl2, skill=other_skill2, type=view, player2=pl1) }}
		</div>
	</div>
</div>

{% if view == "foe" %}
<script>
$('#myswitch').prop('checked', true)
</script>
{% endif %}

{% endblock %}