{% import 'lists.html' as lists with context %}
{% import 'bigimage.html' as bigimage with context %}
{% import 'herogrid.html' as herogrid with context %}
{% extends "base_template.html" %}
{% block body %}

<div class="container main grey darken-4 z-depth-5">

	{{ herogrid.grid('solo', playerid=pl1) }}

	<a class="anchor" id="top"></a>
	<div class="row center-align">
		<h5 style="margin-top: 0px;" id="header">Solo</h5>
	</div>
	
	<div class="row" style="margin-bottom: 0px;">
		{{ bigimage.image('dota', pl1, id1, rate)}}
	</div>

	<div class="row">
		<div id="main" class="col l3 m6">
		{{ lists.input(items1, pl1, type='solo', skill=skill1) }}
		</div>

		<div class="card-panel amber darken-4 white-text z-depth-4 col s4 offset-s2">
			<h5>I'm a placeholder!</h5>
			Soon, all of {{ pl1['name']}}'s best friends (and worst frenemies) will be shown here.
		</div>
	</div>
</div>



{% endblock %}






