{% macro grid(type, playerid = '') %}
<div class="row">
{% for col in thumbargs %}
	<div class="col s4 l3">
	{% set rowloop = loop %}
	<div class="section"><h5>{{ colnames[loop.index0] }}</h5></div>
	{% for group in col %}
		<div class="section grid">
		{% if group.index0 == 0 %}
		<h5>{{ colnames[rowloop.index0] }}</h5>
		{% endif %}
		{% for hero in group %}
			<a class="z-depth-1 tooltipped" href="/dota/{% if type == 'solo' %}{{playerid['id']}}/{% endif %}{{ hero['id'] }}" data-position="top" data-delay="5", data-tooltip="{{ hero['name'] }}">
				<img src={{ hero['img'] }}>
			</a>
		{% endfor %}
		</div>
	{% endfor %}
	</div>
{% endfor %}
{{ alpha_thumbs['name'] }}
	<div class="col l3">
	<a style="margin-top: 2rem; height: 24px; line-height: 24px;" class='dropdown-button btn-flat grey-text text-lighten-3 deep-orange darken-4' href='#' data-activates='dropdown1' data-beloworigin="true" data-constrainwidth="false">Hero Name<i class="material-icons right">arrow_drop_down</i></a>

    <ul id='dropdown1' class='dropdown-content' style="margin-top: 2rem;">

	{% for hero in alpha_thumbs %}
		<li><a href="/dota/{% if type == 'solo' %}{{playerid['id']}}/{% endif %}{{ hero['id'] }}">{{ hero['name'] }}</a></li>
	{% endfor %}	
	</ul>
	</div>
</div>
{% endmacro %}
