{% import 'lists.html' as lists with context %}
{% import 'bigimage.html' as bigimage with context %}
{% import 'herogrid.html' as herogrid with context %}
{% extends "base_template.html" %}
{% block body %}

<div class="container main grey darken-4 z-depth-5">
	<div class="row">
		<div>
			<h5 class="center-align">Champions</h5>
			<span class="right"><a style="margin-top: -2rem; height: 24px; line-height: 24px;" class='dropdown-button btn-flat grey-text text-lighten-3 deep-orange darken-4' href='#' data-activates='dropdown1' data-beloworigin="true" data-constrainwidth="false">Champion Name<i class="material-icons right">arrow_drop_down</i></a></span>
			{% for thumb in thumbs %}
				<a class="z-depth-1 tooltipped" href={{ request.path }}/{{ thumb['id'] }} data-position="top" data-delay="5", data-tooltip={{ thumb['localized_name'] }}>
					<img width=50px src={{ thumb['url_full_portrait'] }}>
				</a>
			{% endfor %}
		</div>
	</div>
	<div class="col l3">
	

    <ul id='dropdown1' class='dropdown-content' style="margin-top: 2rem;">
	{% for thumb in thumbs %}
		<li><a href="{{ request.path }}/{{ thumb['id'] }}">{{ thumb['localized_name'] }}</a></li>
	{% endfor %}
	</ul>
	</div>

	<a class="anchor" id="top"></a>
	<div class="row center-align">
		<h5 style="margin-top: 0px;" id="header">Solo</h5>
	</div>




	<div class="row" style="margin-bottom: 0px;">
		{{ bigimage.image('lol', pl1, id1, rate)}}
	</div>

	<div class="row">
		<div id="main" class="col l3 m6">
		{{ lists.input(items1, pl1, type='solo') }}
		</div>

		<div class="card-panel amber darken-4 white-text z-depth-4 col s4 offset-s2">
			<h5>I'm a placeholder!</h5>
			Soon, all of {{ pl1['name']}}'s best friends (and worst frenemies) will be shown here.
		</div>
	</div>
</div>

{% endblock %}






