{% extends "base_template.html" %}
{% block body %}

<div class="container main grey darken-4 z-depth-5">
	<div class="row">
		<div>
			<h5 class="center-align">Champions</h5>
			{% for thumb in thumbs %}
				<a class="z-depth-1 tooltipped" href={{ request.path }}/{{ thumb['id'] }}/foe data-position="top" data-delay="5", data-tooltip={{ thumb['localized_name'] }}>
					<img width=50px src={{ thumb['url_full_portrait'] }}>
				</a>
			{% endfor %}
		</div>
	</div>

	<div class="row">
		<div class="col l4 m12">
			<h3 style="margin-top: 0px;">Solo</h3>
		</div>
	</div>


	<div class="row">
		<div id="main" class="col s3 m3">
			<div class="section">
				<h4 style="font-size: 2rem;">{{ pl1['name']}}</h4>
				<img class="responsive-img" src={{ pl1['img']}}>
			</div>
			<div class="section left">
			<table>
				<thead>
					<tr><h5 style="margin-top: 0px; font-size: 1.3rem;">Best Solo Items</h5></tr>
				</thead>
				{% for item in items1 %}
				<tr>
				<td><img class="responsive-img" src={{ item['url'] }}></td>
				<td><h6>{{ item['name'] }}</h6><h6>WR: {{ item['wr'] }}</h6></td>
				</tr>
				{% endfor %}
			</table>
			
			</div>
		</div>
		<div class="card-panel orange darken-3 white-text z-depth-4 col s4 offset-s2">
		<h5>I'm a placeholder!</h5>
		Soon, all of {{ pl1['name']}}'s best friends (and worst frenemies) will be shown here.
		</div>
	</div>
</div>



{% endblock %}






