{% import 'lists.html' as lists with context %}
{% import 'bigimage.html' as bigimage with context %}
{% import 'herogrid.html' as herogrid with context %}
{% extends "base_template.html" %}
{% block body %}

<div class="container main grey darken-4 z-depth-5">
	<div class="row">
		<div>
			<h5 class="center-align">Champions</h5>
			<span class="right"><a style="margin-top: -2rem; height: 24px; line-height: 24px;" class='dropdown-button btn-flat grey-text text-lighten-3 deep-orange darken-4' href='#' data-activates='dropdown1' data-beloworigin="true" data-constrainwidth="false">Champion Name<i class="material-icons right">arrow_drop_down</i></a></span>
			{% for thumb in thumbs %}
				<a class="z-depth-1 tooltipped" href={{ request.path }}/{{ thumb['id'] }} data-position="top" data-delay="5", data-tooltip={{ thumb['localized_name'] }}>
					<img width=50px src={{ thumb['url_full_portrait'] }}>
				</a>
			{% endfor %}
		</div>
	</div>
	<div class="col l3">
	

    <ul id='dropdown1' class='dropdown-content' style="margin-top: 2rem;">
	{% for thumb in thumbs %}
		<li><a href="{{ request.path }}/{{ thumb['id'] }}">{{ thumb['localized_name'] }}</a></li>
	{% endfor %}
	</ul>
	</div>

	<a class="anchor" id="top"></a>
	<div class="row center-align">
		<h5 style="margin-top: 0px;" id="header">Solo</h5>
	</div>




	<div class="row" style="margin-bottom: 0px;">
		{{ bigimage.image('lol', pl1, id1, rate)}}
	</div>

	<div class="row">
		<div id="main" class="col l3 m6 s12">
		{{ lists.input(items1, pl1, type='solo') }}
		</div>

		<div class="col s8 offset-s2 m6 l7 push-l1" style="margin-top: -8rem">
		<table>
			<thead><h5>Friends</h5></thead>
			<tbody>
			<tr>
			{% for friend in friends[0] %}
			<td><p>{{ friend['name'] }}</p></td>
			{% endfor %}
			</tr>
			<tr>
			{% for friend in friends[0] %}
			<td><a href="{{ request.path }}/{{ friend['id'] }}/friend#top"><img src="{{ friend['img'] }}" class="responsive-img border" style="max-height: 150px"></a></td>
			{% endfor %}
			</tr>
			<tr>
			{% for friend in friends[1] %}
			<td><h6 class="amber-text text-accent-3">WR: {{ friend }}</h6></td>
			{% endfor %}
			</tr>
			</tbody>
		</table>
		<table>
			<thead><h5>Frenemies</h5></thead>
			<tbody>
			<tr>
			{% for frenemy in frenemies[0] %}
			<td><p>{{ frenemy['name'] }}</p></td>
			{% endfor %}
			</tr>
			<tr>
			{% for frenemy in frenemies[0] %}
			<td><a href="{{ request.path }}/{{ frenemy['id'] }}/friend#top"><img src="{{ frenemy['img'] }}" class="responsive-img border" style="max-height: 150px"></a></td>
			{% endfor %}
			</tr>
			<tr>
			{% for frenemy in frenemies[1] %}
			<td><h6 class="amber-text text-accent-3">WR: {{ frenemy }}</h6></td>
			{% endfor %}
			</tr>
			</tbody>
		</table>
		</div>
	</div>
</div>

{% endblock %}






